@import "../../../../../node_modules/bootstrap/scss/bootstrap-grid.scss";

.recipe-item-container {
    margin: 20px 0;

    .food-image {


        span {

            @include media-breakpoint-up(xl) {
                justify-content: flex-end;
            }
        }
    }
}

img {
    border-radius: 10%;
}
