<div class="recipe-list-container">
    <div class="row">
        <div class="col">
            <button type="button" class="btn btn-primary">New Recipe</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col">
            <div class="list-group">
                <a
                    *ngFor="let recipe of recipes"
                    class="list-group-item flex-column align-items-start"
                    href="#">
                    <div class="row d-flex mb-2">
                        <h5 class="mb-1 col-12 col-lg-9">{{recipe.title}}</h5>
                        <div class="d-flex flex-row justify-content-start align-items-start mt-1 col-12 col-lg-3">
                            <small class="">{{recipe.dateAdded}}</small>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <small class="mb-1 col-12 col-lg-9">{{recipe.description}}</small>
                        <span class="d-flex flex-row justify-content-start align-items-start col-12 col-lg-3">
                            <img
                            [src]="recipe.imagePath"
                            style="max-height: 50px; max-width: 50px;"
                            alt="">
                        </span>
                    </div>
                </a>
            </div>
        </div>
    </div>
    <app-recipe-item></app-recipe-item>
</div>
