<div class="row">
    <div class="col">
        <form action="">
            <div class="row">
                <div class="col col-sm-4 form-group">
                    <!-- <label for="">Ingredient</label> -->
                    <input
                        type="text"
                        class="form-control"
                        id="ingredientName"
                        aria-describedby="emailHelp"
                        placeholder="Ingredient"
                        #nameInput>
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="col col-sm-2 form-group">
                    <!-- <label for="exampleInputPassword1">Amount</label> -->
                    <input
                        type="number"
                        class="form-control"
                        id="ingredientAmount"
                        placeholder="Amount"
                        #amountInput>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success" (click)="onAddIngredient()">Add</button>
                    <button type="button" class="btn btn-danger" (click)="onDeleteIngredient()">Delete</button>
                    <button type="button" class="btn btn-primary" (click)="onClearIngredient()">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
