<div class="row">
    <div class="col">
        <form action="">
            <div class="row">
                <div class="col col-sm-4 form-group">
                    <!-- <label for="">Ingredient</label> -->
                    <input
                        type="email"
                        class="form-control"
                        id="exampleInputEmail1"
                        aria-describedby="emailHelp"
                        placeholder="Ingredient">
                    <!-- <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small> -->
                </div>
                <div class="col col-sm-2 form-group">
                    <!-- <label for="exampleInputPassword1">Amount</label> -->
                    <input
                        type="password"
                        class="form-control"
                        id="exampleInputPassword1"
                        placeholder="Amount">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <button type="button" class="btn btn-success">Add</button>
                    <button type="button" class="btn btn-danger">Delete</button>
                    <button type="button" class="btn btn-primary">Clear</button>
                </div>
            </div>
        </form>
    </div>
</div>
